<!DOCTYPE html>
<html>
  <head>
    <title>MyBlogs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body>

      <% if user_signed_in? %>
      <i>Hello, </i><b><%= current_user.username %></b> | <%= link_to "Sign_Out!", destroy_user_session_path, method: :delete, :class => 'btn btn-secondary btn-xs' %>|<%= link_to "All articles", articles_path, :class => 'btn btn-success' %>    
      <% else %>
      <%= link_to "Sign_In!", new_user_session_path, :class => 'btn btn-info' %> 
      <% end %>
      <hr />
      <br />
      <br />

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>


